@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
    --pink: #CBA76F;
    --violet: #c63bfa;
}

* {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*::selection {
    background: var(--pink);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: url(/images/back.jpeg), repeat;
}
h1{
    font-size: 5.5rem;
    color: #914a34c6;
}
h3{
    font-size: 2.5rem;
    color: #444;
}